@import "normalize";
@import "./variables/global";

.app {
    min-height: 100vh;
}

.wrapper {
    font-family: "Times New Roman", Arial, sans-serif;
}

.content-page {
    max-width: 1440px;
    margin: 0 auto;
}

.content-page {
    font-size: 72px;
}
