@import "normalize";
@import "./variables/global";

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
    flex-shrink: 100;
}

.content-page {
    font-size: 72px;
}
