.button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &__outline {
        padding: 10px 15px;
        border: 1px solid $primary-color;
        color: $primary-color;
        background: none;

        &:hover {
            color: white;
            background: $primary-color;
        }

        &_red {
            border: 1px solid $secondary-color;
            color: $secondary-color;
            background: none;

            &:hover {
                color: white;
                background: $secondary-color;
            }
        }
    }

    &__clear {
        @include button-reset;
    }
}
