.input {
    @include input-reset;

    &:focus {
        outline: none;
    }

    &_border {
        border: 1px solid black;
    }

    &_borderBottom{
        border-bottom: 1px solid black;
    }

}
